<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Info"
      internalLogFile="${specialfolder:folder=LocalApplicationData}/LBScreenRecording/nlog-internal.log">

	<targets>
		<target xsi:type="File" name="fileTarget"
				fileName="${specialfolder:folder=LocalApplicationData}/LBScreenRecording/logs/${shortdate}.log"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=ToString}"
				archiveFileName="${specialfolder:folder=LocalApplicationData}/LBScreenRecording/logs/archives/${shortdate}.{#####}.log"
				archiveEvery="Day"
				archiveNumbering="Sequence"
				maxArchiveFiles="7"
				keepFileOpen="false" />

		<target xsi:type="Debugger" name="debuggerTarget"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=ToString}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Info" appendTo="fileTarget,debuggerTarget" />

	</rules>
</nlog>